@import "../base/colors";
@import "../mixins/box_shadw";

.header {
  height: 64px;
  padding: 0 168px;
  background-color: $purple-2;
  text-align: center;
  grid-column: 1 / 13;

  .header-text {
    display: inline-block;
    color: #fff;
    position: relative;
    top: -2px;
  }

  .header-icon {
    display: inline-block;
    width: 35px;
  }
}
