.mission-container {
  grid-column: 2 / 9;

  .mission-button {
    display: inline-block;
    max-width: 175px;
    text-align: center;
    text-decoration: none;
  }

  @include desktop{
    padding: 0px 55px;
  }

  @include mobile {
    grid-column: 1 / 13;
    text-align: center;
  }

  @media (max-width: 388px) {
    .mission-button{
      margin: 12px auto;
    }
  }
}

.mission-svg{
  grid-column: 9 / 13;
  width: 140px;
  height: 160px;

  @include mobile {
    grid-column: 6 / 13;
    text-align: center;
  }
}

