.mission-container {
  grid-column: 2 / 13;

  .mission-button {
    display: inline-block;
    max-width: 175px;
    text-align: center;
    text-decoration: none;
  }

  @include desktop{
    padding: 0px 55px;
  }

  @include mobile {
    grid-column: 1 / 13;
    text-align: center;

    .mission-button{
      margin: 12px auto;
    }
  }
}

