//Purple Variations
$purple-1: #C6D3FA;
$purple-2: #8E70CC;
$purple-3: #4D3D6F;
$purple-4: #1F112C;

//Blue Variation
$blue-1: #7CAEF3;
$blue-2: #3A52CC;
$blue-3: #28398D;
$blue-4: #121A40;

$light: #FEFEFE; //For $purple-2 background
$text2: #D3D3D3;
